# Définit le registre par défaut (pour les packages publics)
registry=https://registry.npmjs.org/

@barreau:registry=https://pkgs.dev.azure.com/BarreauDuQuebec/32abe903-f8ba-4beb-95bf-4df77b12c890/_packaging/barreau_lib/npm/registry/

always-auth=true
//pkgs.dev.azure.com/BarreauDuQuebec/32abe903-f8ba-4beb-95bf-4df77b12c890/_packaging/barreau_lib/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/BarreauDuQuebec/32abe903-f8ba-4beb-95bf-4df77b12c890/_packaging/barreau_lib/npm/registry/:_password=enZwZ2RyZW5wM2toZDM1bXdvb2JuN3V1NmJobnUzbmpmNGNzNXo2bGllb2k3NHl3dzNycQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/BarreauDuQuebec/32abe903-f8ba-4beb-95bf-4df77b12c890/_packaging/barreau_lib/npm/registry/:email=not-used@example.com
