<app-header></app-header>
<div class="seperateur"></div>
<div class="seperateur"></div>

<app-button
  [class]="'bouton-arrondi-primaire-blanc'"
  [label]="'Submit'"
></app-button>

<form [formGroup]="profileForm" (ngSubmit)="submit(profileForm)">
  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" formControlName="firstName" />
  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" formControlName="lastName" />
  <app-button
    [class]="'bouton-rectangle-primaire'"
    [label]="'Submit'"
  ></app-button>
</form>
